<jsv-header>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    Día 3
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>
	<jsv-header>
    <button-header-left onclick="$JSView.back()">< Back</button-header-left>
    Dilluns (Dia 2)
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
    
		<h1 class="paddingFull10">Dilluns</h1>
		
		<!-- aquí falta l'agenda i eks botons dels modals (activitats) -->
		
		            <table class="striped">
              <thead>
                <tr>
                    <th data-field="id">Hora</th>
                    <th data-field="name">Lloc</th>
                    <th data-field="price">+ Info</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
           
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('inici')">Inici</button>
		
		<!--
			<button class="bgYellow btn-centrat" onClick="$JSView.goToView('viewC')">Mostrar Pàgina C</button>
		-->	
	</div>
	
</jsv-content>

	<div class="container">
    
		<h1 class="paddingFull10">Dia 3</h1>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('viewA')">Inicio</button>
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('viewC')">Mostrar Pàgina C</button>

	</div>
	
</jsv-content>
