<jsv-header>
    <button-header-left onclick="$JSView.goToView('inici')">< Inici</button-header-left>
    Mercuri
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Mercuri</h1>
		
		<img alt="Foto Júpiter" width="300" height="300"
  		src="" />
		
			
		<p>
		Mercuri és el planeta més proper al Sol i el més petit del sistema solar.[9] 
		Fa una volta al Sol cada 88 dies. Mercuri és brillant quan es veu des de la Terra, 
		amb una magnitud aparent de −2,0 a 5,5, però no es veu fàcilment, 
		ja que la seva separació angular amb el Sol és només de 28,3°. 
		Tan sols es pot veure a l'alba i al crepuscle. Se'n sap relativament poc; 
		la primera missió d'exploració de Mercuri va ser la del Mariner 10 que, entre 1974 i 1975, 
		solament va cartografiar aproximadament el 45% de la superfície del planeta. 
		La segona és la sonda MESSENGER, que n'ha cartografiat l'altre 30% durant 
		la seva aproximació el 14 de gener del 2008. Va fer-hi un altre vol el 29 de setembre 
		del 2009.[10] Una gran part de l'hemisferi no cartografiat per la Mariner 10 
		s'ha cartografiat amb aquests vols. La sonda va entrar reeixidament en una òrbita 
		el·líptica al voltant del planeta el 18 de març del 2011; la primera imatge orbital 
		de Mercuri es va obtenir el 29 de març del 2011.[11]	
		</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('venus')">Venus</button>
	
	</div>	
	
</jsv-content>
