<jsv-header>
    <button-header-left onclick="$JSView.closeModal('modal_info_aeroport')">TANCAR</button-header-left>
     Aeroport de Barcelona
    <button-header-right"></button-header-right>
</jsv-header>
<jsv-content>
   
      <h1 class="paddingFull10">Aeroport BCN</h1>
	
	    <p>
	      El terminal de sortida és <bold>....</bold>
	    </p>
	    
	    <p>
	      Cal fer el Check-In <bold>....</bold> minuts abans.
	    </p>
	    
	    <p>
	      El número de vol és <bold>....</bold>
	    </p>
	    
	    <p>
	      L'hora de sortida de l'avió és <bold>....</bold>
	    </p>
	    
</jsv-content>
