<jsv-header>
    <button-header-left onclick="$JSView.closeModal('modal_info_coliseo')">TANCAR</button-header-left>
     Coliseo de Roma
    <button-header-right"></button-header-right>
</jsv-header>
<jsv-content>
   
      <h1 class="paddingFull10">Coliseo Roma</h1>
	
	    <p>
	       <bold>....</bold>
	    </p>
	    
	    <p>
	       <bold>....</bold> minuts abans.
	    </p>
	    
	    <p>
	       <bold>....</bold>
	    </p>
	    
	    <p>
	      <bold>....</bold>
	    </p>
	    
</jsv-content>
