<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inici</button-header-left>
    Taula
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Taula</h1>
		
		<table class="striped">
			<thead>
				<tr>
					<th data-field="id_planeta">Planeta</th>
					<th data-field="id_radi">Radi</th>
					<th data-field="id_distancia">Distància Sol</th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<td>Sol</td>
					<td>6,96·10<sup>8</sup> m</td>
					<td>--</td>
					
				</tr>
				<tr>
					<td>Mercuri</td>
					<td>58.000.000 km</td>
					<td>2.439.7 ± 1.0 km</td>
				</tr>
				<tr>
					<td>Venus</td>
					<td>6.052 km</td>
					<td>108.000.000 km</td>
				</tr>
				<tr>
					<td>Terra</td>
					<td>6.375 km</td>
					<td>150.000.000 km</td>
				</tr>
				<tr>
					<td>Mart</td>
					<td>3.385 km</td>
					<td>225.000.000 km</td>
				</tr>
				<tr>
					<td>Júpiter</td>
					<td>69.000km</td>
					<td>780.000.000 km</td>
				</tr>
				<tr>
					<td>Saturn</td>
					<td>58.000 km</td>
					<td>1.400.000.000 km</td>
				</tr>
				<tr>
					<td>Urà</td>
					<td>25.525 km</td>
					<td>2.900.000 km</td>
				</tr>
				<tr>
					<td>Neptú</td>
					<td>24.500 km</td>
					<td>4.500.000.000 km</td>
				</tr>
				
			</tbody>
			</table>
		
		<h1><br></h1>
		<button class="bgGreen btn-centrat" onClick="$JSView.goToView('inici')">Inici</button>
	
	</div>	
	
</jsv-content>
