<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inici</button-header-left>
    Taula
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Taula</h1>
		
		<table class="striped">
			<thead>
				<tr>
					<th data-field="id">Planeta</th>
					<th data-field="name">Distància</th>
					<th data-field="price">Radi</th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<td>Sol</td>
					<td>--</td>
					<td>1,392·109 m</td>
				</tr>
				<tr>
					<td>Mercuri</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Mercuri</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Mercuri</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Mercuri</td>
					<td></td>
					<td></td>
				</tr>
				
			</tbody>
			</table>
		
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('inici')">Inici</button>
	
	</div>	
	
</jsv-content>
