<jsv-header>
    <button-header-left onclick="$JSView.goToView('inici')">< Inici</button-header-left>
    Terra
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Terra</h1>
		
		<img src="http://files.softicons.com/download/object-icons/earth-icons-by-pinchodesigns/png/256x256/Earth%203.png" alt="Foto Terra" width="300" height="300">
		
		<p>
		La Terra és el tercer planeta en distància respecte al Sol, el més dens i el cinquè 
		en mida dels vuit planetes del sistema solar. És també el més gran dels quatre planetes 
		terrestres del sistema solar. De vegades s'anomena món o el planeta blau.

Hi habiten milions d'espècies, inclosos els humans; i és l'únic astre on se sap que hi ha vida.
El planeta es va formar fa aproximadament 4.600 milions d'anys, i hi va aparèixer vida en mil milions 
d'anys. La biosfera de la Terra ha alternat significativament l'atmosfera i altres condicions 
abiòtiques, permetent la proliferació d'organismes aeròbics i la formació de la capa d'ozó que, 
juntament amb el camp magnètic terrestre, bloqueja la radiació solar perjudicial.[25] Les propietats 
físiques de la Terra, així com la seva història geològica i òrbita, han permès que la vida persisteixi 
durant aquest període. S'espera que el planeta pugui tenir vida durant com a mínim 500 milions d'anys més.
		</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('mart')">Mart</button>
	
	</div>	
	
</jsv-content>
