<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inici</button-header-left>
    Venus
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Venus</h1>
		
		<p>
		Venus és el segon planeta en proximitat al Sol, i l'orbita cada 224,7 dies terrestres. 
		El planeta s'anomena així en honor a Venus, la deessa romana de l'amor. Sense comptar la Lluna, 
		és l'objecte natural més brillant al cel nocturn, arribant a una magnitud aparent de −4.6. 
		Com que Venus és més interior que la Terra, sempre apareix a prop del Sol: la seva elongació 
		arriba a un màxim de 47,8 °. La brillantor màxima de Venus és poc abans de l'alba o poc després 
		de la posta, raó per la qual de vegades se l'anomena L'estrella del matí o L'estrella de la tarda.
		</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('terra')">Terra</button>
	
	</div>	
	
</jsv-content>
