<jsv-header>
	<button-header-left></button-header-left>
    Títol de la pàgina A / 1
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<!-- <h1 class="paddingFull10">Content View A</h1> -->
	<h3 style="color:red">Projecte INFO 4t</h3>
	<h4>2015 2016</h4>

	<p>Text de la pàgina 1</p>

		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('viewB')">Pàgina B/2</button>
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('viewC')">Pàgina C/3</button>
		
		<!-- Obrir un modal (A) ... és a dir, una finestra emergent -->
		<button class="bgYellow btn-centrat" onClick="$JSView.openModal('modalA')">Modal A</button>
		
		<!-- Això és un Button de Materializecss -->
		<a class="waves-effect waves-light btn-large btn-centrat"><i class="material-icons left">Materializecss</i>button</a>
	
	
</jsv-content>