<jsv-header>
	<button-header-left></button-header-left>
   Menú
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<!-- <h1 class="paddingFull10">Content View A</h1> -->
		<h3 style="color:red">Rómulo y Remo 2016</h3>
		<h4>2015 2016</h4>

		<p>La mejor app que te puedas encontrar ;)</p>

			<button class="bgYellow btn-centrat" onClick="$JSView.goToView('diumenge')">Día 1</button>
			<button class="bgYellow btn-centrat" onClick="$JSView.goToView('dilluns')">Día 2</button>
			<button class="bgYellow btn-centrat" onClick="$JSView.goToView('dimarts')">Día 3</button>
			<button class="bgYellow btn-centrat" onClick="$JSView.goToView('dimecres')">Día 4</button>
			<button class="bgYellow btn-centrat" onClick="$JSView.goToView('dijous')">Día 5</button>
			<button class="bgYellow btn-centrat" onClick="$JSView.goToView('divendres')">Retorno</button>
			<!-- Obrir un modal (A) ... és a dir, una finestra emergent -->
			<!--
			<button class="bgYellow btn-centrat" onClick="$JSView.openModal('modalA')">Modal A</button>
			-->
			<!-- Això és un Button de Materializecss -->
			<!--
			<div style="display: block;margin-left: auto;margin-right: auto;" class="btn-centrat">
				<a class="waves-effect waves-light btn-large"><i class="material-icons left">alarm</i>Materializecss</a>
			<div>
			-->
			
	</div>
			
</jsv-content>
