<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inici</button-header-left>
    El Sol
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
    
		<h1 class="paddingFull10">EL SOL</h1>
		
		<img src="http://www.veryicon.com/icon/png/Nature/Weather%201/Sun.png" alt="Foto Sol" width="300" height="300">
		
		<p>
		El Sol és un estel situat al centre del sistema solar. 
		La Terra i tots els altres planetes del sistema solar orbiten al seu voltant. 
		Els planetes menors, els cometes, els meteoroides i tot el medi interplanetari que hi ha enmig també orbiten el Sol.	
		</p>
		
		
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('viewC')">Mercuri</button>

	</div>
	
</jsv-content>
