<jsv-header>
	<button-header-left></button-header-left>
    Títol de la pàgina A / 1
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<!-- <h1 class="paddingFull10">Content View A</h1> -->
	<h3 style="color:red">Projecte INFO 4t</h3>
	<h4>2015 2016</h4>

	<p>Text de la pàgina 1</p>

    
    <button class="bgYellow" onClick="$JSView.goToView('viewB')">Anar a la pàgina 2</button>
    <button class="bgYellow" onClick="$JSView.goToView('viewC')">Anar a la pàgina 3</button>
    <button class="bgYellow" onClick="$JSView.openModal('modalA')">Obrir un modal (A) ... és a dir, una finestra emergent</button>
	
	<!-- Això és un Button de Materializecss -->
	<a class="waves-effect waves-light btn-large"><i class="material-icons left">Materializecss</i>button</a>
	
</jsv-content>